<section class="channel">
  <div class="channel__navigation">
    <a [routerLink]="['/']">Home</a>
    <img src="../../../assets/icons/arrow-right-grey.svg" alt="arrow icon" />
    <a>{{ channel?.name }}</a>
  </div>
  <h3 class="channel__title">{{ channel?.name }}</h3>
  <div class="channel__container">
    <!-- <app-html-video-player [streamUrl]="streamUrl"></app-html-video-player> -->
    <app-vjs-player
      [options]="{
        sources: [
          {
            src: '',
            type: 'application/x-mpegURL'
          }
        ]
      }"
    ></app-vjs-player>
    <div class="channel__sort-block">
      <app-search></app-search>
      <app-sort></app-sort>
    </div>
  </div>
</section>
