<section class="channel">
  <div class="channel__navigation">
    <a href="">Home</a>
    <img src="../../../assets/icons/arrow-right-grey.svg" alt="arrow icon" />
    <a href="">Channel name</a>
  </div>
  <h3 class="channel__title">Sevimli Tv</h3>
  <div class="channel__container">
    <video
      src="https://upload.wikimedia.org/wikipedia/commons/transcoded/f/f3/Big_Buck_Bunny_first_23_seconds_1080p.ogv/Big_Buck_Bunny_first_23_seconds_1080p.ogv.720p.vp9.webm"
    ></video>
    <div class="channel__sort-block">
      <app-search></app-search>
      <app-sort></app-sort>
    </div>
  </div>
</section>
