// Variables
@import '../../../../assets/sass/variables';

.channel {
  padding: 60px 40px;
  &__navigation {
    height: 34px;
    border-bottom: 1px solid #27292d;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    a {
      font-size: 14px;
      line-height: 1.26;
      color: $color-grey;
      text-decoration: none;
    }
  }
  &__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 508px;
    gap: 30px;
    max-width: 1820px;
    video {
      height: auto;
      width: 100%;
      max-width: 1280px;
    }
  }
  &__sort-block {
    padding-top: 1px;
  }
}
