// Variables
@import '../../../../assets/sass/variables';

header {
  height: 80px;
  width: 203px;
  display: flex;
  align-items: center;
  column-gap: 2px;
  padding: 0 22px;
  background-color: $bg-light-black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  .menu,
  .logo {
    height: 44px;
  }
}
