<section class="sort">
  <div class="sort__by">
    <app-dropdown
      [isSearchFeature]="true"
      [dropdownCategories]="dropdownCountries"
      (sort)="onSortByCountry($event)"
    ></app-dropdown>
    <app-dropdown
      [isSearchFeature]="false"
      [dropdownCategories]="dropdownCategories"
      (sort)="onSortByCategory($event)"
    ></app-dropdown>
    <app-dropdown [isSearchFeature]="false" [dropdownCategories]="dropdownSorts"></app-dropdown>
  </div>
  <ng-container *ngIf="channels$ | async as channels">
    <app-sort-result
      [channels]="channels | sortByCountry : queryByCountry | sortByCategory : queryByCategory"
    ></app-sort-result>
  </ng-container>
</section>
