footer {
  height: 78px;
  padding: 30px 15px;
  background-color: #0d0e10;
  p {
    color: #505256;
    font-weight: 300;
    text-align: center;
  }
  @include breakpoint(991px) {
    height: 64px;
  }
}
