.tv-category {
  padding: 70px 24px;
  .category__header {
    margin-bottom: 32px;
  }
  .channel-list {
    row-gap: 32px;
    overflow: visible;
    margin-right: 0;
    @include breakpointMinWidth(2000px) {
      grid-template-columns: repeat(8, 1fr);
    }
    @include breakpoint(1999px) {
      grid-template-columns: repeat(7, 1fr);
    }
    @include breakpoint(1599px) {
      grid-template-columns: repeat(6, 1fr);
    }
    @include breakpoint(1400px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @include breakpoint(1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include breakpoint(799px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 18px;
    }
    @include breakpoint(575px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 14px;
    }
    @include breakpoint(399px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @include breakpoint(991px) {
    padding: 40px 15px;
  }
}
