.channel {
  padding: 60px 40px;
  @include breakpoint(1599px) {
    padding: 20px;
  }
  &__navigation {
    height: 34px;
    max-width: 1820px;
    border-bottom: 1px solid #27292d;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    a {
      font-size: 14px;
      line-height: 1.26;
      color: $color-grey;
      text-decoration: none;
    }
  }
  &__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 508px;
    column-gap: 30px;
    max-width: 1820px;
    @include breakpoint(1599px) {
      grid-template-columns: 1fr 400px;
      column-gap: 15px;
    }
    @include breakpoint(1280px) {
      grid-template-columns: 1fr 280px;
    }
  }
  &__sort-block {
    padding-top: 65px;
    position: relative;
  }
  &__search-container {
    position: absolute;
    width: 100%;
    top: 1px;
    left: 0;
    z-index: 4;
    @include breakpoint(991px) {
      display: none;
    }
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .channel__container {
    .search__box {
      height: 46px;
    }
    .channel__sort-block {
      padding-top: 50px;
    }
  }
}

@media (max-width: 991px) {
  .channel {
    padding: 20px 15px;
    &__navigation {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 20px;
    }
    &__container {
      display: block;
    }
    &__sort-block {
      padding-top: 30px;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}
@media (max-width: 767px) {
  .channel {
    padding-top: 15px;
    &__navigation {
      margin-bottom: 15px;
    }
    &__title {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
}
