<section class="home">
  <div class="home__channel__category">
    <div class="category__header">
      <h3 class="category__title">News</h3>
      <a href="" class="category__link">
        <span>See more</span>
        <img src="../../../assets/icons/arrow-right.svg" alt="arrow-right" />
      </a>
    </div>
    <app-channel-list></app-channel-list>
  </div>
  <div class="home__channel__category">
    <div class="category__header">
      <h3 class="category__title">Sports</h3>
      <a href="" class="category__link">
        <span>See more</span>
        <img src="../../../assets/icons/arrow-right.svg" alt="arrow-right" />
      </a>
    </div>
    <app-channel-list></app-channel-list>
  </div>
  <div class="home__channel__category">
    <div class="category__header">
      <h3 class="category__title">Music</h3>
      <a href="" class="category__link">
        <span>See more</span>
        <img src="../../../assets/icons/arrow-right.svg" alt="arrow-right" />
      </a>
    </div>
    <app-channel-list></app-channel-list>
  </div>
  <div class="home__channel__category">
    <div class="category__header">
      <h3 class="category__title">Kids</h3>
      <a href="" class="category__link">
        <span>See more</span>
        <img src="../../../assets/icons/arrow-right.svg" alt="arrow-right" />
      </a>
    </div>
    <app-channel-list></app-channel-list>
  </div>
</section>
