// Carousel
.carousel {
  height: 280px;
  position: relative;
  @include breakpoint(575px) {
    width: 100%;
    height: auto;
    aspect-ratio: auto 16 / 9;
  }
  &__item {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    &__photo {
      max-width: 1300px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 70%;
      background-image: linear-gradient(to right, $primary 25%, transparent);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 30px;
      @include breakpoint(767px) {
        padding: 15px;
      }
      @include breakpoint(425px) {
        width: 80%;
        background-image: linear-gradient(to right, $primary 15%, transparent);
      }
      h2 {
        max-width: 610px;
        font-size: 36px;
        line-height: 1.26;
        color: $color-white;
        font-weight: 600;
        @include breakpoint(1199px) {
          font-size: 32px;
        }
        @include breakpoint(767px) {
          font-size: 28px;
        }
        @include breakpoint(575px) {
          font-size: 24px;
        }
        @include breakpoint(425px) {
          font-size: 20px;
        }
      }
    }
    &--even {
      justify-content: flex-start;
      .carousel__item__overlay {
        left: auto;
        right: 0;
        background-image: linear-gradient(to left, $primary 25%, transparent);
        justify-content: flex-end;
        @include breakpoint(425px) {
          background-image: linear-gradient(to left, $primary 15%, transparent);
        }
        h2 {
          text-align: right;
        }
      }
    }
  }
  &__nav {
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 70px;
    &__item {
      height: 7px;
      width: 7px;
      border-radius: 50%;
      background-color: rgba($color: #fff, $alpha: 0.5);
      cursor: pointer;
      &--active {
        background-color: #fff;
      }
    }
  }
}

@media (min-width: 1601px) {
  .carousel {
    height: 300px;
    &__item__photo {
      max-width: 1600px;
    }
    &__item__overlay {
      padding: 60px;
    }
  }
}

@media (min-width: 2000px) {
  .carousel {
    height: 420px;
    &__item__photo {
      max-width: 2000px;
    }
  }
}
