<svg style="display: none">
  <symbol id="search" viewBox="0 0 20 20">
    <g>
      <path
        d="M15.0258 13.8475L18.595 17.4159L17.4158 18.595L13.8475 15.0259C12.5197 16.0902 10.8683 16.6691 9.16663 16.6667C5.02663 16.6667 1.66663 13.3067 1.66663 9.16669C1.66663 5.02669 5.02663 1.66669 9.16663 1.66669C13.3066 1.66669 16.6666 5.02669 16.6666 9.16669C16.669 10.8684 16.0901 12.5198 15.0258 13.8475ZM13.3541 13.2292C14.4117 12.1416 15.0023 10.6837 15 9.16669C15 5.94335 12.3891 3.33335 9.16663 3.33335C5.94329 3.33335 3.33329 5.94335 3.33329 9.16669C3.33329 12.3892 5.94329 15 9.16663 15C10.6837 15.0024 12.1415 14.4118 13.2291 13.3542L13.3541 13.2292Z"
      />
    </g>
  </symbol>
</svg>

<div class="search">
  <div class="search__box">
    <input type="text" placeholder="Search channels" />
    <svg class="search__icon">
      <use xlink:href="#search"></use>
    </svg>
  </div>
  <div class="search__result">
    <div class="search__result__item">
      <img src="../../../assets/images/channel-logo.png" alt="channel logo" />
      <div class="search__result__item__content">
        <h4>Sevimli TV</h4>
        <p>Uzbekistan / Oilaviy / Kids</p>
      </div>
    </div>
    <div class="search__result__item">
      <img src="../../../assets/images/channel-logo.png" alt="channel logo" />
      <div class="search__result__item__content">
        <h4>Sevimli TV</h4>
        <p>Uzbekistan / Oilaviy / Kids</p>
      </div>
    </div>
    <div class="search__result__item">
      <img src="../../../assets/images/channel-logo.png" alt="channel logo" />
      <div class="search__result__item__content">
        <h4>Sevimli TV</h4>
        <p>Uzbekistan / Oilaviy / Kids</p>
      </div>
    </div>
    <div class="search__result__item">
      <img src="../../../assets/images/channel-logo.png" alt="channel logo" />
      <div class="search__result__item__content">
        <h4>Sevimli TV</h4>
        <p>Uzbekistan / Oilaviy / Kids</p>
      </div>
    </div>
    <div class="search__result__item">
      <img src="../../../assets/images/channel-logo.png" alt="channel logo" />
      <div class="search__result__item__content">
        <h4>Sevimli TV</h4>
        <p>Uzbekistan / Oilaviy / Kids</p>
      </div>
    </div>
    <div class="search__result__item">
      <img src="../../../assets/images/channel-logo.png" alt="channel logo" />
      <div class="search__result__item__content">
        <h4>Sevimli TV</h4>
        <p>Uzbekistan / Oilaviy / Kids</p>
      </div>
    </div>
    <div class="search__result__item">
      <img src="../../../assets/images/channel-logo.png" alt="channel logo" />
      <div class="search__result__item__content">
        <h4>Sevimli TV</h4>
        <p>Uzbekistan / Oilaviy / Kids</p>
      </div>
    </div>
  </div>
</div>
